h1{
    color: white;
    font-family:fantasy ;
    font-size: 65px;
    text-align: center;
    font-family: 1000;
   
}

body{
    background-image: url(https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2832&q=80);
}

h2{
    color: white;
    text-align: center;
    font-size: 37px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    block-size: 19px;

}
span{
    color: orange;
}
p{
    color: #48cae4;
    text-align: center;
    font-family: Arial Rounded MT Bold;
}

form{
    text-align: center;

}

input[type="text"]{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    block-size: 60px;
    color: #0077b6;
    text-align: center;
    border-radius: 10px;
    
}

::placeholder{
    /* color: #ddb892; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 80;
    
}

button{
    color: white;
    background-color: red;
    font-family: Arial Rounded MT Bold;
    block-size: 60px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;

    

}

a{
    color: red;
}

a:hover{
    color: white;
    font-weight: bold;
    font-size: 17px;
}

button:hover{
    color: white;
    background-color: rgb(89, 79, 226);
    
    
}

input:hover{
    background-color: #a8dadc;
    color: white;
    
}


placeholder:hover{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2px;
    color: white;
}
    
input[type="text"]::placeholder:hover { 
    color: white;
}